body {
    margin: 0;
    padding: 0;
    box-sizing: boader-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color: #555;
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-round;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width:100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;

}
.header{
    background: radial-gradient(#fff,#f9f1e4f3)
}
.body-liz {
    background-color:blue

}
.create-group-btn {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add margin */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 10px; /* Rounded corners */
}

/* Hover effect */
.create-group-btn:hover {
    background-color: #45a049; /* Darker green */
}