{% extends 'ecommerce/main.html' %}
{% load static %}
{% block title %}Store{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
</head>
<style>
    .hero {
        background: url("{% static 'images/Shop-easy.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <section class="hero" >
        <div class="container">
            <h1 class="Store-name">Ecom Store</h1>
            <p class="welcome-note">Discover a wide range of products to suit your needs.</p>
            <a href="{% url 'store'%}" class="btn">Shop Now</a>
            
        </div>
        <div class="sign-in-sign-up">
        </div>
    </section>

    
</body>
</html>

{% endblock content %}